<h4>(<%= @comment_article_count %>)Comments</h4>
<% if logged_in? %>
<%= render 'shared/create_edit/comment'%>
<% end %>

<% @article.comments.each do |comment| %>
  <div class="row">
  <div class="container">
    <div class="col-md-7 well">
      <p>
        <%= comment.content %>
      </p>
      <br>
      <small class="pull-right">commented by <%= "#{comment.user.name}" %></small>
    </div>
  </div>
  </div>
<% end %>

