// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-inverse{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.fixed  a{
  position: fixed;
  bottom: 5%;
  right: 1%;
  height: 60px;
  width: 60px;
  background-color: green;
  color :white;
  font-size: 20px;
  text-align:center;
}
.content{
    background-color: red;
    width: 100%;
}
.aside_right{
    width: 100%;
}

.logo img {
  max-height : 50px;
  max-width : 50px;
}
.blog_about {
  height : 200px;
  line-height: 40px
}
.blog_category {
  height : 200px;
  line-height: 40px
}
ul li {
  display:block;
  font-size : 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sidebar .container{
  background-color: #222222;
  height: 1000px;
  width: 100%;
  color:white;
}
.category{
  height : 30px;
}
span a {
  color : blue;
  font-size : 10px;
}
.img_submit{
  background-image: url(like.png);
    background-repeat: no-repeat;
  background-size: 50px 50px;
  height : 50px;
  width : 50px;
}