<div class="row">
  <div class="all_article">
  <div class="container-full">
  <%= render 'shared/article_index'  %>
    <div class="col-md-8">
    <div class="container-full">
      <div class="content_all_article">
      <%= render 'shared/title', title: '新增文章分類' ,style: "text-align:left;" %>
      <%= render 'shared/create_edit/category'%>
      </div>      
    </div>
    </div>
    </div>
  </div>
</div>